.landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

.landing__title {
  color: var(--white);
  text-align: center;
  text-wrap: balance;
  font-size: 2.5rem;
  line-height: 1;
  text-wrap: balance;
}

.landing__accent {
  color: var(--purple);
}

.landing__description {
  margin-top: 3rem;
  margin-bottom: 4rem;
  color: var(--white);
  font-weight: 300;
  text-wrap: pretty;
  line-height: 1.5;
}