.search {
  max-width: 450px;
  width: 100%;
  font-size: 1rem;
}

.search__form {
  display: flex;
}

.search__input {
  flex: 1;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  padding: 0 .7rem;
  background-color: transparent;
  font-weight: 300;
  border: 1px solid var(--blue-200);

}

.search__input:focus {
  z-index: 1;
  outline: 1px solid var(--purple);
}

.search__button {
  padding: .7rem 1rem;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  background-color: var(--blue-100);
  border: 1px solid var(--blue-200);
  border-left: none;
}