[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vamp = "==1.1.0"
librosa = "==0.10.1"
numpy = "==1.26.3"

[dev-packages]

[scripts]
dev = "python ./src/main.py"

[requires]
python_version = "3.9"
